.bidder-login {
  background-image: url("https://res.cloudinary.com/doaejwdmk/image/upload/v1665018192/fabio-oyXis2kALVg-unsplash_cme107.jpg");
  background-size: cover;
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
}
